/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@400;500;700&family=Poppins:ital,wght@0,200;0,300;0,500;0,600;1,700&display=swap');

*{
    font-family: 'Grandstander', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 4rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

/* Variables */
:root{
    --main-color: #96AD39;
    --button-color:#D0862D;
    --second-color:#4A6409;
    --bg-color:#FFFFFF;
}

section{
    padding: 50px 100px;
}

img{
    width: 100%;
}

body{
    color: black;
    background-color: var(--bg-color);
}

/* Header */
header {
    position: fixed;
    width: 100%;
    height: 59px;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0.9rem;
    background-color: #ffffff;
}

.logo img {
    width: 90px;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-grow: 1;
}

.navbar a {
    padding: 8px 20px;
    color: var(--second-color);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'inter', sans-serif;
    font-weight: bold;
    margin: 0 10px;
    position: relative;
}

.navbar a:hover {
    transition: 0.2s all linear;
    border-bottom: 2px solid var(--button-color);
    color: var(--button-color);
    padding: 0;
    margin: 0;
}

.navbar a:hover,
.active_nav {
    transition: 0.2s all linear;
    background-size: auto;
    border-bottom: 2px solid var(--button-color);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'inter', sans-serif;
    font-weight: bold;
    padding: 8px;
    margin: 0 2rem;
}

.active_nav a {
    color: var(--button-color);
    position: relative;
    margin: 0;
    padding: 0;
    background-size: auto;
}

/* .active_nav a:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5rem;
    height: 2px;
    background-color: var(--button-color);
} */




/* Home */
.home{
    width: 100%;
    min-height: 100vh;
    background: #FFFF;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(17rem,auto));
    align-items: center;
    gap: 1.5rem;
}

.home-img {
    height: 515px;
    width: 645px;
    position: absolute;
    top: 125px;
    right: 70px;
    z-index: 1;
    /* Nilai z-index yang lebih tinggi dari .BgHome */
}

.BgHome {
    position: absolute;
    top: 3.5rem;
    right: 0;
    height: 60vh;
    width: 58vw;
    z-index: 0;
    /* Nilai z-index yang lebih rendah dari .home-img */
    /* tambahkan properti lain yang diperlukan */
}

.home-GreenTea{
    position: absolute;
    bottom: 2px;
    left: -27px;
    z-index: 0;
    width: 117px;
    height: 140px;
}

.home-text h1{
    font-size: 5rem;
    color: var(--main-color);
    text-transform: uppercase;
}

#Beckons{
    font-size: 5rem;
    color: var(--button-color);
    text-transform: uppercase;
}

.home-text p{
    font-size: 0.938rem;
    color: black;
    margin: 0.5rem 0 1.4rem;
    font-family: "inter";
    max-width: calc(100% - 724px); /* Ukuran gambar + padding yang diberikan (474px + 50px padding kiri) */
    margin-right: 24px; /* Memberikan jarak dari tepi gambar */
    text-align: justify; /* Menjadikan teks menjadi justify content */
}

/* Best product new */
.best-product {
    top: -5rem;
    height: auto;
    width: auto;
}

.best-product img {
    max-width: 100%;
    height: auto;
}

.grid-container {
    display: grid;
    grid-template-columns: 40rem 30rem;
    grid-template-rows: 15rem 15rem;
    gap: 30px;
    padding: 10px;
    background-color: none;
  }

.text-best {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}

  .text-best h2{
    color: var(--main-color);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 2rem;
    margin: 10rem 0 1.4rem;
}
  
  .grid-container > div {
    text-align: center;
    padding: 20px 0;
  }
  
  .item1 {
    grid-row: 3 / 1;
    background-image: url(/Asset/originTea.png);
    background-size: cover;
  }

  .item1 h3 {
    color: #F1C644;
    font-size: 60px;
    text-shadow: 3px 2px 1px rgb(0, 0, 0);
    text-align: justify;
    padding-top: 5rem;
    padding-left: 2rem;
  }

  .item1 span {
    color: #ffffff;
  }

  .item1 p{
    color: #ffffff;
    font-family: 'inter';
    font-size: 12px;
    max-width: calc(100% - 400px); /* Ukuran gambar + padding yang diberikan (474px + 50px padding kiri) */
    text-align: justify;
    padding-top: 2rem;
    padding-left: 2rem;

  }

  .label-best{
    background-color: var(--button-color);
    width: 7rem;
    height: 2rem;
    font-weight: bold;
    border-radius: 0 10px 10px 0;
    margin-left: -1rem;
    margin-top: 5rem;
    text-align: center;
    color: #ffffff;
  
    /* Add the following lines for centering text */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* Best 2 */

  .item2 {
    background-image: url(/Asset/GreanTea.svg);
    background-size: cover;
  }

  .item2 h3 {
    color: #CCFF00;
    font-size: 30px;
    text-shadow: 3px 2px 1px rgb(0, 0, 0);
    text-align: justify;
    padding-top: 5rem;
    padding-left: 2rem;
  }

  .item2 span {
    color: #ffffff;
  }

  .item2 p{
    color: #ffffff;
    font-family: 'inter';
    font-size: 10px;
    max-width: calc(100% - 290px);
    text-align: justify;
    padding-top: 1rem;
    padding-left: 2rem;

  }

  .labe2-best{
    background-color: var(--button-color);
    width: 7rem;
    height: 2rem;
    font-weight: bold;
    border-radius: 0 10px 10px 0;
    margin-left: -1rem;
    margin-top: -10rem;
    text-align: center;
    color: #ffffff;
  
    /* Add the following lines for centering text */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* Best 3 */

  .item3 {
    background-image: url(/Asset/BlueThaiTea.svg);
    background-size: cover;
  }

  .item3 h3 {
    color: #95E8FF;
    font-size: 30px;
    text-shadow: 3px 2px 1px rgb(0, 0, 0);
    text-align: justify;
    padding-top: 3rem;
    padding-left: 20rem;
  }

  .Tea3 {
    color: #ffffff;
  }

  .item3 p{
    color: #ffffff;
    font-family: 'inter';
    font-size: 10px;
    max-width: calc(100% - 30px); /* Ukuran gambar + padding yang diberikan (474px + 50px padding kiri) */
    text-align: justify;
    padding-top: 1rem;
    padding-left: 20rem;

  }

  .labe3-best{
    background-color: var(--button-color);
    width: 7rem;
    height: 2rem;
    font-weight: bold;
    border-radius: 10px 0 0 10px;
    margin-left: 24rem;
    margin-top: -10rem;
    text-align: center;
    color: #ffffff;
  
    /* Add the following lines for centering text */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* Best None */
  .best{
    display: none;
}

/* .best-text {
    display: grid;
    place-items: center;
    text-align: center;
    height: 100%;
}

.best-text h2{
    color: var(--main-color);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 2rem;
    margin: 10rem 0 1.4rem;
} */


/* Festival */
.festival {
    height: 430px;
    margin-top: 100px;
}

.textFestival {
    float: right;
    width: 40rem;
    height: 20rem;
    margin-right: 2rem;
    margin-top: -26rem;
}

.festival img {
    width: 474px;
    height: 505px;
    position: relative;
    left: -70px;
    top: 0;
    margin-left: 10px;
    margin-top: -90px;
    border-radius: 5px 0 0 5px;
}

.textFestival h3{
    font-family: 'inter';
    font-style: initial;
    font-size: 30px;
    color: var(--main-color);
    /* padding-top: 80px;
    padding-left: 50px; */
}

.textFestival h5{
    font-family: 'inter', sans-serif;
    font-style: initial;
    font-size: 15px;
    /* padding-top: 10px;
    padding-left: 55px; */
    color: var(--button-color);    
}

.textFestival p {
    font-family: 'inter', sans-serif;
    font-style: initial;
    font-size: 15px;
    /* padding-top: 10px;
    padding-left: 55px; */
    max-width: calc(100% -0px); /* Ukuran gambar + padding yang diberikan (474px + 50px padding kiri) */
    margin-right: 24px; /* Memberikan jarak dari tepi gambar */
    text-align: justify; /* Menjadikan teks menjadi justify content */
}

/* Quiz */

/* quiz container */
.quiz {
    margin-top: -50px;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding-top: 150px; /* Adjust the value to move the quiz down */
}

/* h2 within .quiz */
.quiz h2 {
    text-align: center; /* Center the text horizontally */
    padding-bottom: 450px;
    color: var(--main-color);
    font-size: 35px;
}

/* Button Tab Container */
.tab {
    position: absolute;
    right: 30px;
    display: flex;
    flex-direction: column; /* Stack buttons vertically */
    margin-top: -420px;
}

/* Button Tab */
.tab button,
.tab button img {
    border-radius: 100%;
    border: none;
    outline: none;
    width: 107px;
    height: 107px;
    margin-bottom: 40px; /* Adjust as needed to create vertical spacing */
    display: block;
}

/* button on hover */
.tab button:hover {
    background-color:#95E8FF;
    border: none;
    outline: none;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #95E8FF;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative; /* Set position to relative */
}

.tab button.active::before {
    content: ""; /* Add an empty content */
    position: absolute; /* Set position to absolute */
    top: 50%; /* Align to the middle vertically */
    left: 50%; /* Align to the middle horizontally */
    transform: translate(-50%, -50%); /* Center the background */
    width: 110px; /* Cover the entire button */
    height: 110px;
    border-radius: 100%;
    border: none;
    outline: none;
    box-shadow: 2px 2px 8px 2px #95E8FF;
}

/* tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}

.tabcontent img {
    position: absolute;
    height: 518px;
    width: 533px;
    left: -60px;
    margin-top: -420px;
    flex-direction: column; /* Stack buttons vertically */

}

.box {
    transform: translateY(-50%);
    text-align: center; /* Center the text horizontally */
    font-size: 20px;
    margin-top: -270px;
}

.box h4 {
    font-style: initial;
    font-size: 25px;
    color: var(--button-color);
    max-width: calc(100% - 224px); /* Ukuran gambar + padding yang diberikan (474px + 50px padding kiri) */
    margin-right: 24px; /* Memberikan jarak dari tepi gambar */
    text-align: center; /* Menjadikan teks menjadi justify content */

}

.box p {
    font-family: 'inter', sans-serif;
    font-style: initial;
    font-size: 15px;
    padding-left: 380px;
    max-width: calc(100% - 124px); /* Ukuran gambar + padding yang diberikan (474px + 50px padding kiri) */
    margin-right: 24px; /* Memberikan jarak dari tepi gambar */
    text-align: justify; /* Menjadikan teks menjadi justify content */
}

.box button{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    color: #ffffff;
    background-color: var(--button-color);
    outline: none;
    border: none;
    font-size: 17px;
    font-display: center;
    margin-left: 700px; 
    margin-top: 100px;
}

/* Play Quiz */
#quiz-container {
    text-align: center;
    margin-top: 50px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Spill They Tea */

.spill {
    margin-top: 5rem;
    min-height: 100vh;
    background: var(--bg-color);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* grid-template-columns: repeat(auto-fit, minmax(25rem, auto)); */
    align-items: center;
    gap: 1.5rem;
}

.spill-text {
    display: grid;
    place-items: center;
    text-align: center;
    height: 100%;
    margin-top: 1rem;
}

.spill-text h2 {
    color: var(--main-color);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 2rem;
    margin: 0 0 1.4rem;
}

.Bintang {
    place-items: center;
    margin-top: -2rem;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-left: 8rem;
}

/* Bintang */
.checked {
    color: orange;
}

/* Styles for showSlide_spill */
.showSlide_spill {
    display: flex;
    overflow: hidden;
    width: 100%;
}

.slide_spill {
    display: none;
    width: 100%;
}

.active-spill {
    display: flex;
    justify-content: center;
}

.card-spill {
    display: flex;
    gap: 3rem;
}

.text-card {
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.3);
    transition: 0.3s;
    width: 350px;
    height: 181px;
    background-color: #ffffff;
    border-radius: 10px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-card p {
    font-family: 'inter', sans-serif;
    font-size: 12px;
    text-align: center;
    padding: 1rem;
}

.card-body {
    width: 100%;
    min-height: 100vh;
    background: var(--bg-color);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* grid-template-columns: repeat(auto-fit,minmax(17rem,auto)); */
    align-items: center;
    gap: 1.5rem;
}

.card-body img {
    border-radius: 100%;
    width: 117px;
    height: 117px;
    margin-left: 125px;
    margin-top: 80px;
}

.card-body h6 {
    font-family: 'inter', sans-serif;
    font-size: 15px;
    margin-left: 160px;
    margin-top: 10px;
}

.dots_spill {
    position: relative;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 3rem 0 1.4rem;
    margin-top: -10rem;
}

.dot_spill {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    border-radius: 50%;
    background-color: #888;
    cursor: pointer;
}

.active-dot {
    background-color: var(--button-color);
}

#fedbacks {
    height: 15rem;
    position: relative;
    top: 4rem;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#fedbacks h4 {
    color: var(--main-color);
    font-size: 2rem;
}

#fedbacks p {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin-top: 2rem;
}

#fedbacks button {
    background-color: var(--button-color);
    border: none;
    border-radius: 5px;
    width: 7rem;
    height: 2rem;
    color: #ffffff;
    font-family: 'inter';
    margin-top: 1.7rem;
}

/* FOOTER */
footer {
    position: relative;
    bottom: 0;
}

.footer {
    background-color: var(--main-color);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    padding: 50px 50px 30px 50px;
    margin-top: 80px;
}

.footer .footer-left,
.footer .footer-center,
.footer .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Navbar bawah */
.line{
    background-color: #FFFFFF;
    height: 1px;
    width: 75rem;
    margin-top: 35px;
}

/* copyright */
#copyright {
    text-align: center;
    width: 100%;
    padding: 30px 0px 0px 0px;
    color: var(--bg-color);
}

@media (max-height:800px) {
    footer {
        position: static;
    }

    header {
        padding-top: 40px;
    }
}

.footer .footer-left {
    width: 30%;
}

.footer .footer-left img {
    width: 45%;
    vertical-align: middle;
}

.footer .footer-media {
    margin-top: 25px;
}

.footer .footer-media a {
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 50px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer .footer-media img {
    color: #FFFFFF;
    width: 30px;
    height: 30px;
    padding-bottom: 5px;
}

.footer .footer-media a:hover {
    background-color: var(--button-color);
    border-radius: 50%;
    cursor: pointer;
}

.footer .footer-left .credit-cards {
    width: 100%;
}

.footer .footer-center {
    width: 35%;
}

/* penambahan */
.footer-center .location,
.footer-center .phone,
.footer-center .mail {
    padding-bottom: 10px;
}

.footer .footer-center img {
    height: 45px;
    width: 45px;
    vertical-align: middle;
    padding-right: 3%;
}

.footer .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0px;
}

.footer .footer-center p span {
    color: var(--bg-color);
    display: flex;
    /* font-weight: normal; */
    font-size: 14px;
    line-height: 2;
}

.footer .footer-center p a {
    color: var(--bg-color);
    text-decoration: none;
}

.footer .footer-right {
    width: 30%;
}

.footer .footer-about {
    line-height: 20px;
    color: var(--bg-color);
    font-size: 13px;
    font-weight: normal;
    margin: 0px;
}

.footer .footer-about span {
    display: block;
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}

@media (max-width: 880px) {
    
    .footer .footer-left,
    .footer .footer-center,
    .footer .footer-right {
        display: flex;
        width: 100%;
        margin-bottom: 40px;
        text-align: left;
    }
}



/* Global styles remain unchanged */

/* ===================================== */
/* Responsive Breakpoint Max Width 768px */
/* ===================================== */
@media only screen and (max-width: 767px) {
    header {
        position: fixed;
        width: 100%;
        height: 59px;
        top: 0;
        right: 0;
        z-index: 1000;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 35px 0.9rem;
        background-color: #4A6409;
    }
    
    .navbar{
        display: none;
    }
    
    #menu-icon {
        color: var(--second-color);
        cursor: pointer;
        display: flex;
        margin: 0 0 0 29rem;
        padding: 0;
        flex-grow: 1;
        height: 20px;
    }
    
    .logo{
        bottom: 20rem;
    }

    /* ===== HOME ===== */
    .home{
        background-position: center;
        gap: 1.5rem;
        position: relative;
    }

    .home-img{
        display: inline-block;
        width: 68%;
        position: absolute;
        right: 0.2rem;
        display: flexbox;
        z-index: 2;
        top: 1.8rem;
        right: -1.7rem;
    }

    .BgHome{
        display: none;
    }

    .home-GreenTea{
        position: absolute;
        width: 17%;
        left: 0.1rem;
        top: 15rem;
    }

    .home h1, #Beckons{
        font-size: 2.2rem;
        text-align: left;
        left: -4.5rem;
        position: relative;   
        top: -7rem;     
    }

    .home-text p{
        display: inline-block;
        position: relative;
        text-align: center;
        max-width: 100%;
        left: -2rem;
        top: -6rem;
    }

    /* ===== Best Product ===== */
    .best-product{
        margin-top: -6rem;
    }

    .text-best h2{
        display: flex;
        position: relative;
        font-size: 24px;
        text-align: center;
        top: -8rem;
    }

    .item1{
        display: flex;
        position: relative;
        width: 50%;
        height: 40%;
        margin-left: -5.5rem;
        top: -9rem;
    }

    .item1 img{
        display: flex;
        align-items: center;
    }

    .item1 h3{
        font-size: 15px;
        margin-top: -75px;
    }

    .item1 p{
        width: 8.3rem;
        height: 18.187px;
        flex-shrink: 0;
        font-size: 7px;
        margin-left: -90px;
        margin-top: 15px;
        max-width: calc(50rem - 100px);
    }

    .label-best{
        width: 5rem;
        height: auto;
        flex-shrink: 0;
        font-size: 0.7rem;
        margin-left: -122px;
        margin-top: 130px;
    }

    .item2, .item3{
        display: none;
    }
    
    /* ===== Festival ==== */
    .festival{
    }
    
    .textFestival{

    }

    .festival img{
        display: flex;
        width: 200%;
        height: auto;
        align-items: center;  
        right: 3rem;  
    }

    .festival h3{
        position: relative;
        display: flex;
        max-width: 100%;
        font-size: 2rem;
        text-align: center;
        left: -5rem;
    }

    .festival h5{

    }

    .festival p{

    }
}