/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@400;500;700&family=Poppins:ital,wght@0,200;0,300;0,500;0,600;1,700&display=swap');

*{
    font-family: 'Grandstander', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 4rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

/* Variables */
:root{
    --main-color: #96AD39;
    --button-color:#D0862D;
    --second-color:#4A6409;
    --bg-color:#FFFFFF;
}

section{
    padding: 50px 100px;
}

img{
    width: 100%;
}

body{
    color: black;
    background-color: var(--bg-color);
}

/* Navbar */

/* Header */
header {
    position: fixed;
    width: 100%;
    height: 59px;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0.9rem;
    background-color: #ffffff;
}

.logo img {
    width: 90px;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-grow: 1; /* Use flex-grow to make the navbar expand and center */
}

.navbar a {
    padding: 8px 15px;
    color: var(--second-color);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'inter', sans-serif;
    font-weight: bold;
    margin: 0 10px;
}

.navbar a:hover {
    background: var(--main-color);
    color: #FFFF;
    border-radius: 0.2rem;
    transition: 0.2s all linear; /* Add "s" to specify seconds */
}

#menu-icon {
    color: var(--second-color);
    font-size: 24px;
    z-index: 100001;
    cursor: pointer;
    display: none;
}


/* Home */
.home{
    width: 100%;
    min-height: 100vh;
    background: #FFFF;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(17rem,auto));
    align-items: center;
    gap: 1.5rem;
}

.home-img{
    height: 615px;
    width: 745px;
    position: absolute;
    top: 155px;
    right: 70px;
    z-index: 0;
}

.shape{
    background-color: var(--main-color);
    width: 391px;
    height: 634px;
    margin-left: 70px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
}

.home-GreenTea{
    position: absolute;
    bottom: 2px;
    left: -27px;
    z-index: 0;
    width: 117px;
    height: 140px;
}

.home-text h1{
    font-size: 3.4rem;
    color: var(--main-color);
    text-transform: uppercase;
    letter-spacing: 2px;
}

.home-text span{
    font-size: 3.4rem;
    color: var(--button-color);
    text-transform: uppercase;
    letter-spacing: 2px;
}

.home-text p{
    font-size: 0.938rem;
    color: black;
    margin: 0.5rem 0 1.4rem;
    font-family: inter;
    max-width: calc(100% - 524px); /* Ukuran gambar + padding yang diberikan (474px + 50px padding kiri) */
    margin-right: 24px; /* Memberikan jarak dari tepi gambar */
    text-align: justify; /* Menjadikan teks menjadi justify content */
}

/* Best Products */
.best{
    width: 100%;
    min-height: 100vh;
    background: var(--bg-color);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    grid-template-columns: repeat(auto-fit,minmax(17rem,auto));
    align-items: center;
    gap: 1.5rem;
}

.best-text {
    display: grid;
    place-items: center;
    text-align: center;
    height: 100%;
}

.best-text h2{
    color: var(--main-color);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 2rem;
    margin: 10rem 0 1.4rem;
}

/* Styles for slideshow */
.slideshow {
    display: flex;
    overflow: hidden;
    width: 100%;
}

.slide {
    display: none;
    width: 100%; 
}

.slide.active {
    display: flex; 
    justify-content: center; 
}

.slide img {
    max-width: 33.33%; 
}

.dots {
    position: relative;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 3rem 0 1.4rem;
}

.dot {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    border-radius: 50%;
    background-color: #888;
    cursor: pointer;
}

.active-dot {
    background-color: var(--button-color);
}

/* Spill They Tea */

.spill{
    width: 100%;
    min-height: 100vh;
    background: var(--bg-color);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    grid-template-columns: repeat(auto-fit,minmax(17rem,auto));
    align-items: center;
    gap: 1.5rem;
}

.spill-text {
    display: grid;
    place-items: center;
    text-align: center;
    height: 100%;
    margin-top: 1rem;
}

.spill-text h2{
    color: var(--main-color);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 2rem;
    margin: 0 0 1.4rem;
}

/* Styles for showSlide_spill */
.showSlide_spill {
    display: flex;
    overflow: hidden;
    width: 100%;
}

.slide_spill {
    display: none;
    width: 100%;
}

.slide_spill.active-spill { 
    display: flex;
    justify-content: center;
}

.slide_spill .card-spill {
    display: flex; /* Menambahkan display flex untuk memastikan gambar ditampilkan secara bersamaan */
}

.text-card{
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.3);
    transition: 0.3s;
    width: 377px;
    height: 181px;
    background-color: #ffffff;
    border-radius: 10px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.text-card p{
    font-family: 'inter', sans-serif;
    font-size: 15px;
    text-align: center; 
}

.card-body{
    width: 100%;
    min-height: 100vh;
    background: var(--bg-color);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    grid-template-columns: repeat(auto-fit,minmax(17rem,auto));
    align-items: center;
    gap: 1.5rem;
}

.card-body img {
    border-radius: 100%;
    width: 117px;
    height: 117px;
    margin-left: 125px;
    margin-top: 80px;
}
.card-body h6{
    font-family: 'inter',sans-serif;
    font-size: 15px;
    margin-left: 130px;
    margin-top: 10px;
}

.dots_spill {
    position: relative;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 3rem 0 1.4rem;
    margin-top: -10rem;
}

.dot_spill {
    height: 10px;

    width: 10px;
    margin: 0 5px;
    border-radius: 50%;
    background-color: #888;
    cursor: pointer;
}

.active-dot {
    background-color: var(--button-color);
}

/* Festival */
.festival{
    height: 430px;
    background-color: #ffffff;
    margin-top: 100px;
    box-shadow: 8px 0 8px 0 rgba(0,0,0,0.7);
}

.festival img {
    width: 474px;
    height: 505px;
    position: absolute;
    margin-left: 775px;
    margin-top: -90px;
    border-radius: 5px 0 0 5px;
}

.festival h3{
    font-family: inter;
    font-style: initial;
    font-size: 30px;
    color: var(--main-color);
    /* padding-top: 80px;
    padding-left: 50px; */

}

.festival h5{
    font-family: 'inter', sans-serif;
    font-style: initial;
    font-size: 15px;
    /* padding-top: 10px;
    padding-left: 55px; */
    color: var(--button-color);    
}

.festival p {
    font-family: 'inter', sans-serif;
    font-style: initial;
    font-size: 15px;
    /* padding-top: 10px;
    padding-left: 55px; */
    max-width: calc(100% - 524px); /* Ukuran gambar + padding yang diberikan (474px + 50px padding kiri) */
    margin-right: 24px; /* Memberikan jarak dari tepi gambar */
    text-align: justify; /* Menjadikan teks menjadi justify content */
}

/* Quiz */

/* quiz container */
.quiz {
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding-top: 150px; /* Adjust the value to move the quiz down */
}

/* h2 within .quiz */
.quiz h2 {
    text-align: center; /* Center the text horizontally */
    padding-bottom: 450px;
    color: var(--main-color);
    font-size: 35px;
}

/* Button Tab Container */
.tab {
    position: absolute;
    right: 10px;
    display: flex;
    flex-direction: column; /* Stack buttons vertically */
    margin-top: -420px;
}

/* Button Tab */
.tab button,
.tab button img {
    border-radius: 100%;
    border: none;
    outline: none;
    width: 107px;
    height: 107px;
    margin-bottom: 40px; /* Adjust as needed to create vertical spacing */
    display: block;
}

/* button on hover */
.tab button:hover {
    background-color: var(--bg-color);
    border: none;
    outline: none;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: var(--second-color);
    border: none;
    outline: none;
    cursor: pointer;
    position: relative; /* Set position to relative */
}

.tab button.active::before {
    content: ""; /* Add an empty content */
    position: absolute; /* Set position to absolute */
    top: 50%; /* Align to the middle vertically */
    left: 50%; /* Align to the middle horizontally */
    transform: translate(-50%, -50%); /* Center the background */
    width: 110px; /* Cover the entire button */
    height: 110px; /* Cover the entire button */
    border-radius: 100%;
    border: none;
    outline: none;
    box-shadow: 2px 2px 8px 2px var(--main-color);
}

/* tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}

.tabcontent img {
    position: absolute;
    border-radius: 100%;
    height: 518px;
    width: 533px;
    left: -100px;
    margin-top: -460px;
    flex-direction: column; /* Stack buttons vertically */
}

.box {
    transform: translateY(-50%);
    text-align: center; /* Center the text horizontally */
    font-size: 20px;
    margin-top: -270px;
}

.box h4 {
    font-style: initial;
    font-size: 25px;
    color: var(--button-color);
    max-width: calc(100% - 224px); /* Ukuran gambar + padding yang diberikan (474px + 50px padding kiri) */
    margin-right: 24px; /* Memberikan jarak dari tepi gambar */
    text-align: center; /* Menjadikan teks menjadi justify content */

}

.box p {
    font-family: 'inter', sans-serif;
    font-style: initial;
    font-size: 15px;
    padding-left: 380px;
    max-width: calc(100% - 124px); /* Ukuran gambar + padding yang diberikan (474px + 50px padding kiri) */
    margin-right: 24px; /* Memberikan jarak dari tepi gambar */
    text-align: justify; /* Menjadikan teks menjadi justify content */
}

.box button{
    width: 100px;
    height: 30px;
    border-radius: 10px;
    color: #ffffff;
    background-color: var(--button-color);
    outline: none;
    border: none;
    font-size: 17px;
    font-display: center;
    margin-left: 700px; 
    margin-top: 100px;
}

.shapeConten{
    background-color: var(--main-color);
    height: 518px;
    width: 40px;
    margin-left: -100px;
    margin-top: -484px;
}

/* Media queries untuk responsif */
@media only screen and (max-width: 1008px) {
    .home-img {
        right: 20px; /* Mengurangi jarak gambar dari tepi pada layar yang lebih kecil */
    }
}

@media only screen and (max-width: 641px) {

    /* Navbar */
    .navbar{
        display: none;
    }

    .navbar menu{
        display: block;
    }

    .home-img {
        position: relative;
        top: auto;
        right: auto;
        margin-bottom: 20px;
    }

    .shape {
        position: relative;
        margin-left: 0;
    }

    .home-GreenTea {
        position: relative;
        left: auto;
    }
}

@media only screen and (max-width: 480px) {
    .home-text h1 {
        font-size: 2.5rem; /* Mengurangi ukuran font pada layar yang lebih kecil */
    }

    .home-text span {
        font-size: 2.5rem;
    }

    .home-text p {
        font-size: 0.9rem;
    }
}