/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@400;500;700&family=Poppins:ital,wght@0,200;0,300;0,500;0,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
    font-family: 'Grandstander', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 4rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    list-style: none;

}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 2px;
}

/* Variables */
:root{
  --main-color: #96AD39;
  --button-color:#D0862D;
  --second-color:#4A6409;
  --bg-color:#FFFFFF;
}

section{
  padding: 50px 30px 50px 100px;
}




/* Header */
header{
  position: fixed;
  width: 100%;
  height: 59px;
  top:0;
  right: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 0.9rem;
  background-color: #ffffff;
}

.logo img{
  width: 90px;
}

.dropdown{
  display: none;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  flex-grow: 1;
}

.navbar a {
  padding: 8px 20px;
  color: var(--second-color);
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
  font-family: 'inter', sans-serif;
  font-weight: bold;
  margin: 0 10px;
  position: relative;
}

.navbar a:hover {
  transition: 0.2s all linear;
  border-bottom: 2px solid var(--button-color);
  color: var(--button-color);
  padding: 0;
  margin: 0;
}

.navbar a:hover,
.active_nav {
  transition: 0.2s all linear;
  background-size: auto;
  border-bottom: 2px solid var(--button-color);
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
  font-family: 'inter', sans-serif;
  font-weight: bold;
  padding: 8px;
  margin: 0 2rem;
}

.active_nav a {
  color: var(--button-color);
  position: relative;
  margin: 0;
  padding: 0;
  background-size: auto;
}

/* .active_nav a:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -5rem;
  height: 2px;
  background-color: var(--button-color);
} */

#menu-icon {
  color: var(--second-color);
  font-size: 24px;
  z-index: 100001;
  cursor: pointer;
  display: none;
}
/* NavBar END */


/*-----BG Section Styling-----
----------------*/
.bg-sections {
  padding-top : 0;
  padding-left : 0;
  padding-right : 0;
  background: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden; 
  position: relative;
  padding-bottom :0;
}

.but img{
  width: 52px;
  height: 52px;
  flex-shrink: 0;
}

.buttons {
  display: flex;
  justify-content: center;
  transform: translate(0%, -120%);
  margin: auto;
  text-align: center;
}

.buttons button {
  display: flex;
  border: none;
  background: #ffffff;
  font: 'grandstander';
  font-size: 20px;
  color: #4A6409;
  font-weight: bolder;
  padding: 20px;
  width: fit-content;
  margin: 0;
  align-items: center;
}

.buttons button:hover{
  background: #96AD39;
  color: var(--bg-color);
  transition: 0.2 all linear;
}
  /* bg Sections Styling */

  
/* Features Sections Styling */
.features-sections {
  max-width: 1280px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.features-sections__content h2 {
    display: flex;
    flex-direction: column;
    align-items: center;

    color: #4A6409;
    text-align: center;
    font-family: Grandstander;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    }
    
  /* h2 {
    width: 1212px;
    height: 10px;
    flex-shrink: 0;
  }

  h2 {
    color: #4A6409;
    text-align: center;
    font-family: Grandstander;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px; /* 125% */
    
  p {
    color: #FFF;
    text-align: justify;
    font-family: Inter;
    font-size: 16px;
    font-style: light;
    font-weight: 500;
    line-height: 33px; /* 165% */
  }

  h5 {
    color: #FFF;
    text-shadow: 0px 4px 2.5px rgba(0, 0, 0, 0.25);
    font-family: Grandstander;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 46px; /* 115% */
  }

  h6 {
    color: #4A6409;
    font-family: Grandstander;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 33px; /* 117.857% */
  }

  h7 {
    color: #4A6409;
    text-align: justify;
    font-family: Inter;
    font-size: 16px;
    font-style: light;
    font-weight: 500;
    line-height: 33px; /* 165% */
    

/* Desc1-20-Regular */
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 33px; /* 165% */
  }


   /* History1 Sections Styling */

.history-sections img {
  height: 85%;
  width: 85%;
  }

.history-sections {
  display: inline-flex;
  padding: 44px 81px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  
}

.history-sections__container {
  display: flex;
  align-items: center;
  gap: 120px;
  justify-content: space-between;
}

.history-layout {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 23px;
}


/* History2 Sections Styling */
   .history2-sections img {
    height: 85%;
    width: 85%;
    }
    
  .history2-sections__container img {
   order: 2; /* Set the image to appear on the right */
   }

   .history2-sections {
    display: inline-flex;
    padding: 44px 81px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding-bottom: 120px;
  }
  
  .history2-sections__container {
    display: flex;
    align-items: center;
    gap: 120px;
    justify-content: space-between;
  }
  
  .history2-layout {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 23px;
  }
  
  /* History Sections Styling */


  /* TeavoU Sections Styling */
.teavou-sections {
    border-radius: 40px;
    background-color: #96AD39;
    display: inline-flex;
    padding: 44px 81px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .teavou-sections__container {
    max-width: 1280px;
    display: flex;
    align-items: center;
    gap: 120px;
  }

  .teavou-layout {
    gap: 23px;
  }

  /* TeavoU Sections Styling */


 /* FOOTER */
footer {
  position: fixed;
  bottom: 0;
}

.footer {
  background-color: var(--main-color);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  padding: 50px 50px 30px 50px;
  margin-top: 80px;
}

.footer .footer-left,
.footer .footer-center,
.footer .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Navbar bawah */
.line{
  background-color: #FFFFFF;
  height: 1px;
  width: 75rem;
  margin-top: 35px;
}

/* copyright */
#copyright {
  text-align: center;
  width: 100%;
  padding: 30px 0px 0px 0px;
  color: var(--bg-color);
}

@media (max-height:800px) {
  footer {
      position: static;
  }

  header {
      padding-top: 40px;
  }
}

.footer .footer-left {
  width: 30%;
}

.footer .footer-left img {
  width: 45%;
  vertical-align: middle;
}

.footer .footer-media {
  margin-top: 25px;
}

.footer .footer-media a {
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 50px;
  margin-right: 3px;
  margin-bottom: 5px;
}

.footer .footer-media img {
  color: #FFFFFF;
  width: 30px;
  height: 30px;
  padding-bottom: 5px;
}

.footer .footer-media a:hover {
  background-color: var(--button-color);
  border-radius: 50%;
  cursor: pointer;
}

.footer .footer-left .credit-cards {
  width: 100%;
}

.footer .footer-center {
  width: 35%;
}

/* penambahan */
.footer-center .location,
.footer-center .phone,
.footer-center .mail {
  padding-bottom: 10px;
}

.footer .footer-center img {
  height: 45px;
  width: 45px;
  vertical-align: middle;
  padding-right: 3%;
}

.footer .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0px;
}

.footer .footer-center p span {
  color: var(--bg-color);
  display: block;
  /* font-weight: normal; */
  font-size: 14px;
  line-height: 2;
}

.footer .footer-center p a {
  color: var(--bg-color);
  text-decoration: none;
}

.footer .footer-right {
  width: 30%;
}

.footer .footer-about {
  line-height: 20px;
  color: var(--bg-color);
  font-size: 13px;
  font-weight: normal;
  margin: 0px;
}

.footer .footer-about span {
  display: block;
  color: #ffffff;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
}

@media (max-width: 880px) {
  
  .footer .footer-left,
  .footer .footer-center,
  .footer .footer-right {
      display: block;
      width: 100%;
      margin-bottom: 40px;
      text-align: left;
  }
}

/* ===================================== */
/* Responsive Breakpoint Min Width 768px */
/* ===================================== */
@media only screen and (max-width: 768px) {
  section{
    max-width: 768px;
  }
  header {
      position: fixed;
      width: 100%;
      height: 59px;
      top: 0;
      right: 0;
      z-index: 1000;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 35px 0.9rem;
      background-color: #ffffff;
  }

  .navbar{
      display: none;
  }
  /* navbar dropdown */
  .dropbtn {
      background-color: #607e13;
      color: white;
      padding: 16px;
      font-size: 16px;
      border: none;
      cursor: pointer;
  }
  .dropbtn:hover, .dropbtn:focus {
      background-color: var(--button-color);
  }
  .dropdown {
      position: relative;
      display: inline-block;
  }
  .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      min-width: 160px;
      overflow: auto;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      right: 0;
      z-index: 1;
  }
  .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
  }
  .dropdown a:hover {
      background-color: var(--button-color);
  }
  .show {
      display: block;
  }
  

  #menu-icon {
      color: var(--second-color);
      cursor: pointer;
      display: flex;
      margin: 0 0 0 29rem;
      padding: 0;
      flex-grow: 1;
      height: 20px;
  }

  .logo{
      bottom: 20rem;
  }

  .grid-container{
      display: none;
  }

  .but img{
    max-width: 100%;
    padding : 0;
  }

  .h2 {
    color: #4A6409;
    text-align: center;
    font-family: Grandstander;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
  }

  .bg-sections{
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding: 60px 20px;
  }

  .buttons {
    flex-direction: column;
    display: flex;
    justify-content: center;
    transform: translate(0%, -5%);
    /* margin: auto; */
    gap : 10px;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .features-sections {
    max-width: 768px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    gap: 14px;
    padding: 60px 20px;
  }

  .features-sections__content h2 {
    text-align: center;
  }

  .history-sections__container {
    flex-direction: column;
    padding: 80px 20px;
    text-align: center;
  }

  .history-sections__container img {
    max-width: 100%;
    max-height: 100%;
  }

  .history2-sections__container {
    /* flex-direction: column;
    padding: 80px 20px;
    text-align: center; */
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 20px;
  }

  .history2-sections__container img {
    max-width: 100%;
    max-height: 100%;
  }

  .teavou-sections {
    flex-direction: column;
    padding: 60px 47px;
  }

  .teavou-sections__container {
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
    gap : 30px;
  }

  .teavou-sections__container img {
    max-width: 100%;
    max-height: 100%;
  }

  .teavou-sections__container h5 {
    font-size: 32px;
  }


  /* buat JS */
  .hidden {
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
}