/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@400;500;700&family=Poppins:ital,wght@0,200;0,300;0,500;0,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
    font-family: 'Grandstander', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 4rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

/* Variables */
:root{
    --main-color:#4A6409;
    --button-color:#D0862D;
    --second-color:#96AD39;
    --bg-color:#Fffff;
}

section{
    padding: 50px 100px;
}

img{
    width: 100%;
}

body{
    color: black;
    background-color: var(--bg-color);
}

header{
    position: fixed;
    width: 100%;
    height: 59px;
    top:0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 100px;
    /* transition: 0.5s linear; */
    background-color: #ffffff;
}

.logo img{
  width: 90px;
}

.navbar{
  display: flex;
  display: contents;
  justify-content: center; /* Memusatkan navbar secara horizontal */
  justify-content: center; /* Memusatkan navbar secara horizontal */
  padding: 0; /* Menghapus padding default pada ul */
  list-style: none; /* Menghilangkan bullet points pada list */
}

.navbar li {
  margin-right :1rem;
}

.navbar a {
  padding: 8px 25px;
  color: var(--second-color);
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
  font-family: 'inter', sans-serif;
  font-weight: bold; 
}

.navbar a:hover{
  background: var(--main-color);
  color: #FFFF;
  border-radius: 0.2rem;
  transition: 0.2 all linear;
}

.active_nav{
  background: var(--main-color);
  color: #FFFF;
  border-radius: 0.2rem;
  transition: 0.2 all linear;
  background-size: auto;

  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
  font-family: 'inter', sans-serif;
  font-weight: bold; 
  padding: 8px 2px;
}

.active_nav a{
  color: #ffffff;
}

#menu-icon{
  color: var(--second-color);
  font-size: 24px;
  z-index: 100001;
  cursor: pointer;
  display: none;
}
/* NavBar END */


/* BG Sections Styling */
.bg-sections {
  width: 100%;
  height: 117vh;
  background: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative; /* Add relative positioning */
}

/* Ensure the image fills the container */
/* BG Sections Styling */
.bg-sections {
  position: relative; /* Set container to relative positioning */
  /* width: 100%;
  height: 117vh; */
  object-fit: cover;
}

.buttons{
  display: flex;
  justify-content: center;
  /* margin-top: 58px; */
  width: 100%;
  align-items: center;
  margin: 58px 30px 30px 0px;
}

.buttons button{
  display: flex;
  border: none;
  background: #ffffff;
  font: 'grandstander';
  font-size: 20px;
  color: #4A6409;
  font-weight: bolder;
  padding: 20px;
  width: fit-content;
  margin: 0;
  align-items: center;
}

.buttons button:hover{
  background: #96AD39;
  color: var(--bg-color);
  transition: 0.2 all linear;
}



  /* bg Sections Styling */

/* Features Sections Styling */
.features-sections {
    max-width: 1280px;
    display: flex;
    margin: auto;
    padding-top: 100px;
    justify-content: center;
    gap: 40px;
    text-align: center;
  }

  .features-sections__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom : 1rem;
    }
    
  h2 {
    width: 1212px;
    height: 10px;
    flex-shrink: 0;
  }

  h2 {
    color: #4A6409;
    text-align: center;
    font-family: Grandstander;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px; /* 125% */
  }

  p {
    color: #FFF;
    text-align: justify;
    font-family: Inter;
    font-size: 16px;
    font-style: light;
    font-weight: 500;
    line-height: 33px; /* 165% */
  }

  h5 {
    color: #FFF;
    text-shadow: 0px 4px 2.5px rgba(0, 0, 0, 0.25);
    font-family: Grandstander;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 46px; /* 115% */
  }

  h6 {
    color: #4A6409;
    font-family: Grandstander;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 33px; /* 117.857% */
  }

  h7 {
    color: #4A6409;
    text-align: justify;
    font-family: Inter;
    font-size: 16px;
    font-style: light;
    font-weight: 500;
    line-height: 33px; /* 165% */
    

/* Desc1-20-Regular */
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 33px; /* 165% */
  }


   /* History1 Sections Styling */

.history-sections img {
  height: 85%;
  width: 85%;
  }

.history-sections {
  display: inline-flex;
  padding: 44px 81px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.history-sections__container {
 
  display: flex;
  align-items: center;
  gap: 120px;
  
}

.history-layout {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 23px;
}


   /* History2 Sections Styling */
   .history2-sections img {
    height: 85%;
    width: 85%;

    }

  /* Adjustments for image on the right */
  .history2-sections__container img {
   order: 2; /* Set the image to appear on the right */
   }

   .history2-sections {
    display: inline-flex;
    padding: 44px 81px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding-bottom: 140px;
  }
  
  .history2-sections__container {
   
    display: flex;
    align-items: center;
    gap: 120px;

  }
  
  .history2-layout {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 23px;
  }
  
  /* History Sections Styling */


  /* TeavoU Sections Styling */
.teavou-sections {
    border-radius: 40px;
    background-color: #96AD39;
    display: inline-flex;
    padding: 44px 81px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .teavou-sections__container {
   
    display: flex;
    align-items: center;
    gap: 120px;
    
  }

  .teavou-layout {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 23px;
  }

  /* TeavoU Sections Styling */


  /* Footer Styling */
  
footer {
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 60px 100px;
  }

footer {
    flex-wrap: wrap;
    padding: 60px 20px;
  }
    /* Footer Styling */