/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@400;500;700&family=Poppins:ital,wght@0,200;0,300;0,500;0,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
*{
    font-family: 'Grandstander', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 4rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

/* Variables */
:root{
    --main-color: #96AD39;
    --button-color:#D0862D;
    --second-color:#4A6409;
    --bg-color:#FFFFFF;
}

section{
    padding: 50px 30px 50px 100px;
}

img{
    width: 100%;
}

body{
    color: black;
    background-color: var(--bg-color);
}

span{
    color: var(--button-color);
}

/* Header */
header {
    position: fixed;
    width: 100%;
    height: 59px;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0.9rem;
    background-color: #ffffff;
}

.logo img{
    width: 90px;
}

.dropdown{
    display: none;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-grow: 1;
}

.navbar a {
    padding: 8px 20px;
    color: var(--second-color);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'inter', sans-serif;
    font-weight: bold;
    margin: 0 10px;
    position: relative;
}

.navbar a:hover {
    transition: 0.2s all linear;
    border-bottom: 2px solid var(--button-color);
    color: var(--button-color);
    padding: 0;
    margin: 0;
}

.navbar a:hover,
.active_nav {
    transition: 0.2s all linear;
    background-size: auto;
    border-bottom: 2px solid var(--button-color);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'inter', sans-serif;
    font-weight: bold;
    padding: 8px;
    margin: 0 2rem;
}

.active_nav a {
    color: var(--button-color);
    position: relative;
    margin: 0;
    padding: 0;
    background-size: auto;
}

/* .active_nav a:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5rem;
    height: 2px;
    background-color: var(--button-color);
} */


/* section profileupper "About Us TeavoU" */
.profileupper{
    width: 100%;
    min-height: 100vh;
    background: #FFFF;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(25rem,auto));
    align-items: stretch;
    gap: 1.5rem;
    background-image: url(/Asset/bgprofilupper.png);
    /* background-color: #4A6409; */
}

.upperleftcolumn{
    float: left;
    width: 100%;
    /* background-color: #888; */
}

.upperrightcolumn{
    margin-left: 70px;
    float: right;
    width: 100%;
    /* background-color: brown; */
}

.uppercolumn{
    display: flex;
    float: right;
    flex-direction: column;
    gap: 17px;
    /* background-color: yellowgreen; */
}

.uppercolumn-1 img{
    float: left;
    justify-content: flex-start;
    /* background: #000; */
    /* background-color: #888; */
}

.uppercolumn-2 img{
    float: left;
    justify-content: flex-start;
    margin-top: 200px;
    /* margin-left: -10px; */
    /* background-color: #4A6409; */
}

.profileupper-text h1{
    font-size: 3.4rem;
    color: var(--second-color);
    letter-spacing: 2px;
    margin-top: 4.188rem;
    /* padding-top: 50px; */
}

.profileupper-text h1> span{
    color: var(--button-color);
}

.profileupper-text p {
    width: auto;
    font-size: 1.25rem;
    color: black;
    margin: 1.25rem 0 1.4rem;
    font-family: 'inter';
    max-width: max-content;
    text-align: justify;
    margin-right: 50px;
}

.profileupper-img-1{
    /* background-color: aqua; */
    height: 150px;
    width: 200px;
    /* position: absolute; */
    top: 600px;
    right: 10px;
    flex-shrink: 0;
    margin-top: 20px;
}

.profileupper-img-2{
    height: 150px;
    width: 200px;
    /* position: absolute; */
    bottom: 200px;
    right: 180px;
    flex-shrink: 0;
    margin-top: 20px;
}

.profileupper-bubukteh{
    position: absolute;
    bottom: 2px;
    left: -27px;
    z-index: 0;
    width: 117px;
    height: 140px;
}

/* section profilecentre "About Us TeavoU" */
.profilecentre {
    display: inline-flex;
    padding: 44px 81px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-item-left {
    /* background-color: #f1f1f1; */
    padding: 5px;
    flex: 50%;
}

.grid{
    display: flex; 
    gap: 10px;  
    float: left;
}

.column{
    display: table;
    float: right;
    flex-direction: column;
    gap: 17px;
}

.column-1 img{
    border-radius: 5px;
    float: left;
    justify-content: flex-start;
    margin-top: 10px;
}

.image-1 img{
    width: 224.457px;
    height: 267.818px;
    margin-top: 20px;
}

.image-2 img{
    width: 198.951px;
    height: 230.834px;
    margin-top: 15px;
    margin-left: 25px;
}

.column-2 img{
    border-radius: 5px;
    float: left;
    justify-content: flex-start;
    margin-top: 30px;
}

.image-3 img{
    width: 227.008px;
    height: 279.934px;
    margin-top: 52px;
}

.image-4 img{
    width: 224.457px;
    height: 267.818px;
    margin-top: 18px;
}

.flex-item-right {
    padding: 10px;
    flex: 50%;
} 
/* commitmentcard */
.commitmentcard {
    /* background:#804c88; */
    background: #C7FA89;
    border-radius: 15px;
    padding: 1.25rem;
    margin: 3.5rem 1.25rem 0;
    width: 80%;
}
.commitmentcard h3{
    align-items: flex-start;
    font-size: 2rem;
    color: var(--second-color);
    letter-spacing: 2px;
}
.commitmentcard p{
    padding-top: 10px;
    font-family: "inter";
    font-size: 16px;
    line-height: 2;
    color: black;
}

/* VALUE-CARD */
.value-card {
    /* padding: 0 1.25rem 1.25rem;
    margin: 0 1.25rem 1.25rem;
    width: 100%; */
    
    padding: 20px;
    margin-left: 20px;
    margin-top: 30px;
    width: 80%;
}
.value-card h3{
    align-items: flex-start;
    font-size: 2rem;
    color: var(--second-color);
    letter-spacing: 2px;
}

.value-list {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.value-list div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    line-height: 1.2;
    gap: 5px 20px;
    margin-bottom: 20px;
}
.value-list h6 {
    text-align: center;
    color:var(--button-color);
    font-size: 25px;
} 

.value-list h6 > span {
    color: var(--second-color);
}
.value-list h5 {
    text-align: center;
    color:var(--button-color);
    font-size: 35px;
} 

.value-list h5 > span {
    color: var(--second-color);
}

.value-list p {
    padding-left: 40px;
    color: black;
    font-size: 14px;
    font-weight: 600;
    font-family: "inter";
    word-spacing: 2px;
    vertical-align: middle;
}

/* bottomcentre start */
.bottomcentre {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

.bottomcentre-left {
    /* background-color: #f1f1f1; */
    padding: 20px;
    flex: 50%;
}
.bottomcentre-right {
    padding: 20px;
    flex: 50%;
} 

.bottomcentre h3 {
    font-size: 2rem;
    color: var(--second-color);
    padding-top: 1.5rem ;
    text-align: center;
}

.bottomcentre h3 > span {
    color: var(--button-color);
}

.bottomcentre p {
    padding: 2rem;
    font-family: "inter";
    font-size: 16px;
    line-height: 2;
    color: black;
}

.visi-card,.misi-card {
        border: 3px solid #88BE00; 
        border-radius: 10px;
        min-height: 40vh;
        width: 100%;
    }


/* Section teavou team */
.TeavoUTeam{
    content: "";
    display: table;
    clear: both;
    font-size: 2rem;
    color: var(--second-color);
    /* letter-spacing: 2px; */
    /* padding: 20px; */
    /* margin-top: 20px    */
}

.TeavoUTeamcard {
    display: inline-flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
}
.TeavoUTeamcard-left{
    display: flex;
    flex: 50%;
}

.TeavoUTeamcard-right{
    display: flex;
    flex-direction: row;
    flex: 50%;
}

.TeavoUTeamcard-text{
    color: black;
    font-size: small;
    font-style: 'inter';
    text-align: center;
    font-weight: bold;
}
.TeavoUTeamcard > div img{
    /* background-color: #f1f1f1; */
    padding: 1.3rem;
}
.TeavoUTeamcard-left > div:hover{
    background: var(--main-color);
    color: #FFFF;
    border-radius: 0.2rem;
    transition: 0.2 all linear;
}
.TeavoUTeamcard-right > div:hover{
    background: var(--main-color);
    color: #FFFF;
    border-radius: 0.2rem;
    transition: 0.2 all linear;
}

/* Section teavou gallery */
.column{
    float: left;
    width: 50%;
}

.galleryTeam{
    min-height: 70vh;
    background: var(--bg-color);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    grid-template-columns: repeat(auto-fit,minmax(17rem,auto));
    align-items: center;
    gap: 1.5rem;
}

.galleryTeam-text {
    display: grid;
    place-items: left;
    text-align: left;
    height: 100%;
    margin-top: 1rem;
}

.galleryTeam-text h2>span{
    color: var(--second-color);
}

.galleryTeam-text h2{
    color: var(--button-color);
    font-size: 2rem;
    margin: 0 0 1.4rem;
}

/* Styles for showSlide_galleryTeam */
.showSlide_galleryTeam {
    display: flex;
    overflow: hidden;
    width: 100%;
}

.slide_galleryTeam {
    display: none;
    width: 100%;
    height: 260px; /*masih testing*/
}

.active-galleryTeam { 
    display: flex;
    justify-content: center;
}

.card-body{
    width: 100%;
    min-height: auto;
    margin-bottom: 100px;
    background: var(--bg-color);
    background-repeat: no-repeat;
    grid-template-columns: repeat(auto-fit,minmax(17rem,auto));
    align-items: center;
    gap: 1.5rem;
}

.card-body img {
    width: 100%;
    height: 250px;
    padding: 10px;
    /* margin-bottom: 100px; */
}

.dots_galleryTeam {
    position: relative;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 2rem 0 0;
}

.dot_galleryTeam {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    border-radius: 50%;
    background-color: #888;
    cursor: pointer;
}

.active-dot {
    background-color: var(--button-color);
}

/* FOOTER */
footer {
    position: fixed;
    bottom: 0;
}

.footer {
    background-color: var(--main-color);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    padding: 50px 50px 30px 50px;
}

.footer .footer-left,
.footer .footer-center,
.footer .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Navbar bawah */
.line{
    background-color: #FFFFFF;
    height: 1px;
    width: 75rem;
    margin-top: 35px;
}

/* copyright */
#copyright {
    text-align: center;
    width: 100%;
    padding: 30px 0px 0px 0px;
    color: var(--bg-color);
}

@media (max-height:800px) {
    footer {
        position: static;
    }

    header {
        padding-top: 40px;
    }
}

.footer .footer-left {
    width: 30%;
}

.footer .footer-left img {
    width: 45%;
    vertical-align: middle;
}

.footer .footer-media {
    margin-top: 25px;
}

.footer .footer-media a {
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 50px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer .footer-media img {
    color: #FFFFFF;
    width: 30px;
    height: 30px;
    padding-bottom: 5px;
}

.footer .footer-media a:hover {
    background-color: var(--button-color);
    border-radius: 50%;
    cursor: pointer;
}

.footer .footer-left .credit-cards {
    width: 100%;
}

.footer .footer-center {
    width: 35%;
}

/* penambahan */
.footer-center .location,
.footer-center .phone,
.footer-center .mail {
    padding-bottom: 10px;
}

.footer .footer-center img {
    height: 45px;
    width: 45px;
    vertical-align: middle;
    padding-right: 3%;
}

.footer .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0px;
}

.footer .footer-center p span {
    display: block;
    color: var(--bg-color);
    /* font-weight: normal; */
    font-size: 14px;
    line-height: 2;
}

.footer .footer-center p a {
    color: var(--bg-color);
    text-decoration: none;
}

.footer .footer-right {
    width: 30%;
}

.footer .footer-about {
    line-height: 20px;
    color: var(--bg-color);
    font-size: 13px;
    font-weight: normal;
    margin: 0px;
}

.footer .footer-about span {
    display: block;
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}

@media (max-width: 880px) {
    
    .footer .footer-left,
    .footer .footer-center,
    .footer .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: left;
    }
}

   /* Footer Styling */

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media only screen and (max-width: 768px) {
    section{
        max-width: 768px;
    }

    header {
        position: fixed;
        width: 100%;
        height: 40px;
        top: 0;
        right: 0;
        z-index: 1000;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 35px 0.9rem;
        background-color: #ffffff;
    }

    .navbar{
        display: none;
    }
    .TeavoUTeamcard{
        width: 80%;
        gap: 20px;
    }
    .TeavoUTeamcard-left, .TeavoUTeamcard-right{
        flex-wrap: wrap;
        flex: 10%;
    }
    .flex-item-right, .flex-item-left, .bottomcentre-left, .bottomcentre-right {
        flex: 100%;
          /* width: 50%; */
        }
/* navbar dropdown */
.dropbtn {
background-color: #04AA6D;
color: white;
padding: 16px;
font-size: 16px;
border: none;
cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
background-color: #3e8e41;
}

.dropdown {
position: relative;
display: inline-block;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #f1f1f1;
min-width: 160px;
overflow: auto;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
right: 0;
z-index: 1;
}

.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}
}