/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@400;500;700&family=Poppins:ital,wght@0,200;0,300;0,500;0,600;1,700&display=swap');

*{
    font-family: 'Grandstander', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 4rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

/* Variables */
:root{
    --main-color:#4A6409;
    --button-color:#D0862D;
    --second-color:#96AD39;
    --bg-color:#F9F6F1;
}

section{
    padding: 70px 100px;
}

img{
    width: 100%;
}

body{
    color: black;
    background-color: var(--bg-color);
}

header{
    position: fixed;
    width: 100%;
    height: 59px;
    top:0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 100px;
    /* transition: 0.5s linear; */
    background-color: #ffffff;
}

.logo img{
    width: 90px;
}

.navbar{
    display: flex;
    display: contents;
}

.navbar a {
    padding: 8px 25px;
    color: var(--second-color);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'inter', sans-serif;
    font-weight: bold; 
}


.navbar a:hover{
    background: var(--main-color);
    color: #FFFF;
    border-radius: 0.2rem;
    transition: 0.2 all linear;
}

#menu-icon{
    color: var(--second-color);
    font-size: 24px;
    z-index: 100001;
    cursor: pointer;
    display: none;
}
/* section profileupper "About Us TeavoU" */
.profileupper{
    width: 100%;
    min-height: 100vh;
    background: #FFFF;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(17rem,auto));
    align-items: stretch;
    gap: 1.5rem;
}

.profileupper-text h1{
    font-size: 3.4rem;
    color: var(--main-color);
    text-transform: uppercase;
    letter-spacing: 2px;
}

.profileupper-text h1> span{
    color: var(--button-color);
}

.profileupper-text p{
    width: 600px;
    font-size: 0.938rem;
    color: black;
    text-align: justify;
    margin: 0.5rem 0 1.4rem;
    font-family: inter;
}

.profileupper-img-1{
    height: 100px;
    width: 150px;
    position: absolute;
    top: 60px;
    right: 40px;
}

.profileupper-img-2{
    height: 0px;
    width: 150px;
    position: absolute;
    bottom: 20px;
    right: 250px;
}

.profileupper-bubukteh{
    height: 50px;
    position: absolute;
    width: 80px;
    top: 200px;
    left: 0;
}

/* section profilecentre "About Us TeavoU" */
.profilecentre{
    content: "";
    display: table;
    clear: both;
}

.leftcolumn{
    float: left;
    width: 50%;
}
.rightcolumn{
    float: left;
    width: 25%;
}
.profilecentre-img{
    width: 30%;
    padding: auto;
}
.profilecentrecard {
    background: #FFFF;
    padding: 20px;
    margin-top: 20px;
}
.profilecentrecard h3{
    font-size: 2rem;
    color: var(--main-color);
    letter-spacing: 2px;
}span{
    color: var(--button-color);
}

/* Section teavou team */
.TeavoUTeam{
    content: "";
    display: table;
    clear: both;
}
.TeavoUTeamcard {
    font-size: 2rem;
    color: var(--main-color);
    letter-spacing: 2px;
    padding: 20px;
    margin-top: 20px   
}

/* Section teavou gallery */

.TeavoUGallery{
    content: "";
    display: table;
    clear: both;
}
.column{
    float: left;
    width: 50%;
}
.TeavoUGallerycard {
    font-size: 2rem;
    color: var(--main-color);
    letter-spacing: 2px;
    padding: 20px;
    margin-top: 20px   
}

.TevoUGallery-img{
    width: 50%;
    padding: auto;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }
  