/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@400;500;700&family=Poppins:ital,wght@0,200;0,300;0,500;0,600;1,700&display=swap');

*{
    font-family: 'Grandstander', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 4rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

/* Variables */
:root{
    --main-color: #96AD39;
    --button-color:#D0862D;
    --second-color:#4A6409;
    --bg-color:#FFFFFF;
}

section{
    padding: 50px 30px 50px 100px;
}

img{
    width: 100%;
}

body{
    color: black;
    background-color: var(--bg-color);
}

header{
    position: fixed;
    width: 100%;
    height: 59px;
    top:0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 100px;
    /* transition: 0.5s linear; */
    background-color: #ffffff;
}

.logo img{
    width: 90px;
}

.navbar{
    display: flex;
    display: contents;
}

.navbar a {
    padding: 8px 25px;
    color: var(--second-color);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'inter', sans-serif;
    font-weight: bold; 
}

.navbar a:hover{
    background: var(--main-color);
    color: #FFFF;
    border-radius: 0.2rem;
    transition: 0.2 all linear;
}

.active_nav{
    background: var(--main-color);
    color: #FFFF;
    border-radius: 0.2rem;
    transition: 0.2 all linear;
    background-size: auto;

    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'inter', sans-serif;
    font-weight: bold; 
    padding: 8px 2px;
}

.active_nav a{
    color: #ffffff;
}

#menu-icon{
    color: var(--second-color);
    font-size: 24px;
    z-index: 100001;
    cursor: pointer;
    display: none;
}
/* NavBar END */


/* Section Description "What is TeavoU?" START */
.desc{
    width: 100%;
    height: 117vh;
    background: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.desc-text h2{
font-size: 3.4rem;
color: var(--main-color);
text-transform: none;
letter-spacing: 0px;
margin-top:67px;
}

.desc-text h2> span{
    color: var(--button-color);
}

.desc-text p{
    width: 599px;
    color: black;
    text-align: justify;
    font-family: 'Inter';
    font-size: 1.35rem;
    font-style: normal;
    line-height: normal;
    margin-top: 20px;
}

.desc-more>button{
    margin-top: 62px;
    font-family: 'grandstander';
    font-size: 24px;
    color: white;
    background: var(--button-color);
    width: 125px;
    height: 45px;
    border-radius: 12px;
    flex-shrink: 0;
    border: none;
    padding: 0;
}

.desc-more>button:hover{
    background: #ffffff;
    color: var(--button-color);
    transition: 0.2 all linear;
}

/* tutor yutub */
.grid{
    display: flex; 
    gap: 7px;  
    float: right;
}

.column{
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.column-1 img{
    border-radius: 5px;
    float: right;
    justify-content: flex-start;
    margin-top: 10px;
    
}

.image-1 img{
    width: 224.457px;
    height: 267.818px;
    flex-shrink: 0;
    margin-top: 20px;
}

.image-2 img{
    width: 198.951px;
    height: 230.834px;
    flex-shrink: 0;
    margin-top: 15px;
}

.column-2 img{
    border-radius: 5px;
    float: right;
    justify-content: flex-start;
    margin-top: 30px;
}

.image-3 img{
    width: 227.008px;
    height: 279.934px;
    flex-shrink: 0;
    margin-top: 52px;
}

.image-4 img{
    width: 224.457px;
    height: 267.818px;
    flex-shrink: 0;
    margin-top: 18px;
}

/* coba sendiri */
.desc-img-1{
    margin-top: 21px;
    width: 224.457px;
    height: 267.818px;
    flex-shrink: 0;
    margin-bottom: 15.94px;
    margin-right: 7.01px;
}

.but img{
    width: 52px;
    height: 52px;
    flex-shrink: 0;
}

.buttons{
    display: flex;
    justify-content: center;
    /* margin-top: 58px; */
    background: #ffffff;
    width: 100%;
    align-items: center;
    margin: 58px 30px 30px 0px;
}

.buttons button{
    display: flex;
    border: none;
    background: #ffffff;
    font: 'grandstander';
    font-size: 20px;
    color: #4A6409;
    font-weight: bolder;
    padding: 20px;
    width: fit-content;
    margin: 0;
    align-items: center;
}

.buttons button:hover{
    background: #96AD39;
    color: var(--bg-color);
    transition: 0.2 all linear;
}


/* Section TeavoU Product START */
/* Button Product */
.product{
    font-size: 28px;
    color: var(--main-color);
}

.product-text h2{
    margin-top: 83px;
}

.product-text h2>span{
    color: var(--button-color);
}

.p-buttons{
    width: 100%;
    position: flex;
    display: flex;
    flex-wrap: wrap;  
    margin: 50px 100px 50px 30px;   
    justify-content: center;  
}

.p-buttons button {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #96AD39;
    margin-right: 50px;

    background: var(--bg-color);
    border-color: var(--bg-color);
    border-radius: 20px;
    width: 250px;
    height: 50px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0,3);
}

.p-buttons button:hover {
    background: var(--button-color);
    color: var(--bg-color);
    border-radius: 20px;
    transition: 0.2 all linear;
}

/* menu tehnya */
.menu{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 99px;
    justify-content: space-around;
    padding: 10px; 
}

.content{
    width: 245px;
    height: 400px;
    box-sizing: border-box;   
    float: left;
    border-radius: 11px 11px 11px 11px;
    background: white;
    box-shadow: 0px 3.4186px 3.4186px 0px rgba(0, 0, 0, 0.25), 4.27324px 0px 3.4186px 0px rgba(0, 0, 0, 0.25);
    transition: 0.4s;
    overflow: hidden; /* Menyembunyikan teks yang lebih panjang dari kotak */
}

.content h5{
    text-align: justify;
    font-size: 12px;
    text-align: center;
    margin-bottom: 5px;
    font-size: 18px;
}

.content.expanded {
    height: auto; /* Mengatur tinggi otomatis saat kartu diperpanjang */
}

.content img{
    align-items: center;
    width: 100%;
    padding: 2%;
    object-fit: cover;
    margin-bottom: 15px;
}

.content p{
    padding: 10px;
    font-family: inter;
    max-width: 100%;
    max-height: 100px;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #000000;
    font-size: 14px;
    
    /* word-wrap: normal; */
    /* word-wrap: break-word; */
    /* word-break: keep-all; */
    /* word-break: break-all; */
    
    /* white-space: pre-line; */
    /* white-space: nowrap; */
    /* white-space: pre; */
    /* white-space: pre-wrap; */
    /* white-space: break-spaces; */
    
    /* overflow: scroll; */
    /* overflow: visible; */

    /* text-overflow: clip; */
}

.content p.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 10; /* Menampilkan maksimal 3 baris */
    -webkit-box-orient: vertical;
}

.content button{
    margin-top: 16px;
    font-family: 'grandstander';
    font-size: 12px;
    color: white;
    background: var(--button-color);
    width: 91px;
    height: 26px;
    border-radius: 7px;
    flex-shrink: 0;
    border: none;
    padding: 10px;
    text-align: center;
    margin: 20px 20px;
    display: block;
    margin-top: 16px;
}

.text-wrapper {
    max-height: 100px; /* Set a maximum height for the truncated text */
    overflow: hidden;
}

.content.expanded .text-wrapper {
    max-height: none; /* Remove the maximum height when expanded */
}

/* .content button:hover{
    background: var(--main-color);
    color: var(--bg-color);
    transition: 0.2 all linear;
} */

/* Feedback */
.feedback{
    width: 1067px;
    height: 247px;
    border-radius: 20px;
    background: #AFBF67;
    padding: 20px;
}

.form{
    align-items: center;
    justify-content: center;
}

.input-feedback{
    width: 656px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    align-items: center;
    justify-content: center;
}

.feedback p{
    color: #FFF;
    text-align: center;
    font-family: 'Inter';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.star-rating{
    user-select: none;
}

.star{
    font-size: 37px;
    color: #FFF;
    align-items: center;
    background-color: unset;
    border:none;
}

.star:hover{
    cursor: pointer;
    color: #FFF;
}

/* Responsive */
@media(max-width: 600px){
    .navbar{
        
    }
}