/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@400;500;700&family=Poppins:ital,wght@0,200;0,300;0,500;0,600;1,700&display=swap');

*{
    font-family: 'Grandstander', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 4rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

/* Variables */
:root{
    --main-color: #96AD39;
    --button-color:#D0862D;
    --second-color:#4A6409;
    --bg-color:#FFFFFF;
}

section{
    padding: 50px 30px 50px 100px;
}

img{
    width: 100%;
}

body{
    color: black;
    background-color: var(--bg-color);
}

header{
    position: fixed;
    width: 100%;
    height: 59px;
    top:0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0.9rem;
    background-color: #ffffff;
}

.logo img{
    width: 90px;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-grow: 1;
}

.navbar a {
    padding: 8px 20px;
    color: var(--second-color);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'inter', sans-serif;
    font-weight: bold;
    margin: 0 10px;
    position: relative;
}

.navbar a:hover {
    transition: 0.2s all linear;
    border-bottom: 2px solid var(--button-color);
    color: var(--button-color);
    padding: 0;
    margin: 0;
}

.navbar a:hover,
.active_nav {
    transition: 0.2s all linear;
    background-size: auto;
    border-bottom: 2px solid var(--button-color);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'inter', sans-serif;
    font-weight: bold;
    padding: 8px;
    margin: 0 2rem;
}

.active_nav a {
    color: var(--button-color);
    position: relative;
    margin: 0;
    padding: 0;
    background-size: auto;
}

/* .active_nav a:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5rem;
    height: 2px;
    background-color: var(--button-color);
} */

#menu-icon {
    color: var(--second-color);
    font-size: 24px;
    z-index: 100001;
    cursor: pointer;
    display: none;
}
/* NavBar END */


/* Section Description "What is TeavoU?" START */
.desc{
    width: 100%;
    height: 117vh;
    background: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.desc-text h2{
    font-size: 3.4rem;
    color: var(--second-color);
    text-transform: none;
    letter-spacing: 0px;
    margin-top:67px;
}

.desc-text h2> span{
    color: var(--button-color);
}

.desc-text p{
    width: 599px;
    color: black;
    text-align: justify;
    font-family: 'Inter';
    font-size: 1.35rem;
    font-style: normal;
    line-height: normal;
    margin-top: 20px;
}

.desc-more>button{
    margin-top: 62px;
    font-family: 'grandstander';
    font-size: 24px;
    color: white;
    background: var(--button-color);
    width: 125px;
    height: 45px;
    border-radius: 12px;
    flex-shrink: 0;
    border: none;
    padding: 0;
}

.desc-more>button:hover{
    background: var(--second-color);
    color: var(var(--bg-color));
    transition: 0.2 all linear;
}

/* tutor yutub */
.grid{
    display: flex; 
    gap: 7px;  
    float: right;
    /* background-color: #000000; */
}

.column{
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.column-1 img{
    border-radius: 5px;
    float: right;
    justify-content: flex-start;
    margin-top: 10px;
    
}

.image-1 img{
    width: 224.457px;
    height: 267.818px;
    flex-shrink: 0;
    margin-top: 20px;
}

.image-2 img{
    width: 198.951px;
    height: 230.834px;
    flex-shrink: 0;
    margin-top: 15px;
}

.column-2 img{
    border-radius: 5px;
    float: right;
    justify-content: flex-start;
    margin-top: 30px;
}

.image-3 img{
    width: 227.008px;
    height: 279.934px;
    flex-shrink: 0;
    margin-top: 52px;
}

.image-4 img{
    width: 224.457px;
    height: 267.818px;
    flex-shrink: 0;
    margin-top: 18px;
}

.desc-img-1{
    margin-top: 21px;
    width: 224.457px;
    height: 267.818px;
    flex-shrink: 0;
    margin-bottom: 15.94px;
    margin-right: 7.01px;
}

.buttons{
    display: flex;
    justify-content: center;
    /* margin-top: 58px; */
    background: #ffffff;
    width: 100%;
    align-items: center;
    margin: 58px 30px 30px 0px;
}

.buttons button{
    display: flex;
    border: none;
    background: #ffffff;
    font: 'grandstander';
    font-size: 20px;
    color: #4A6409;
    font-weight: bolder;
    padding: 20px;
    width: fit-content;
    margin: 0;
    align-items: center;
}

.buttons button:hover{
    background: #96AD39;
    color: var(--bg-color);
    transition: 0.2 all linear;
}

.but img{
    width: 52px;
    height: 52px;
    flex-shrink: 0;
}

#scroll-up img{
    width: 52px;
    height: 52px;
    flex-shrink: 0;
}

#scroll-down img{
    width: 52px;
    height: 52px;
    flex-shrink: 0;
}

/* Section TeavoU Product START */
/* Button Product */
.product{
    font-size: 28px;
    color: var(--main-color);
}

/* .product-text h2{
    margin-top: 83px;
} */

.product-text h2>span{
    color: var(--button-color);
}

.product-text h2{
    color: var(--second-color);
}

.tab{
    width: 100%;
    position: flex;
    display: flex;
    flex-wrap: wrap;  
    margin: 50px 100px 50px 30px;   
    justify-content: center;  
}

.tab button {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #96AD39;
    margin-right: 50px;

    background: var(--bg-color);
    border-color: var(--bg-color);
    border-radius: 20px;
    width: 250px;
    height: 50px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0,3);
}

.tab button:hover {
    background: var(--button-color);
    color: var(--bg-color);
    border-radius: 20px;
    transition: 0.2 all linear;
}

/* Create an active/current tablink class */
.tab button.active {
    background: var(--button-color);
    color: #FFFFFF;
}

/* menu tehnya */
.menu{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    /* margin-top: 50px; */
    /* margin-bottom: 100px; */
    /* padding: 10px;  */
}

#discount {
    width:12rem;
    height: 15rem;
    position: absolute;
    z-index: 1;
    margin-top:-3.5rem;
    margin-left: -1.8rem;
    padding-left: -4rem;
    /* padding-top: -3rem; */
}

#DC{
    font-size: 14px;
    color: #FFFFFF;
    font-family: 'Inter';
    margin-top: -7.5rem;
    transform: rotate(-40deg);
    padding-left: 2rem;
}

#number{
    font-size: 20px;
    color: #ffffff;
    font-family: 'Inter';
    margin-top: 1rem;
    transform: rotate(-40deg);
    padding-left: 1rem;
}

.tabcontent {
    width: 245px;
    height: 400px;
    box-sizing: border-box;
    float: left;
    border-radius: 11px 11px 11px 11px;
    background: white;
    box-shadow: 0px 3.4186px 3.4186px 0px rgba(0, 0, 0, 0.25), 4.27324px 0px 3.4186px 0px rgba(0, 0, 0, 0.25);
    transition: 0.4s;
    overflow: hidden;
    margin: 20px 20px 20px 20px;
    position: relative;
    z-index: 0;
}
 
.tabcontent img{
    align-items: center;
    width: 100%;
    padding: 2%;
    object-fit: cover;
}

.tabcontent h5{
    font-size: 15px;
    text-align: center;
    font-size: 18px;
    color: var(--main-color);
}

.tabcontent.expanded {
    height: auto; /* Mengatur tinggi otomatis saat kartu diperpanjang */
}

.tabcontent p{
    padding: 10px;
    font-family: 'inter';
    text-align: justify;
    max-width: 100%;
    max-height: 100px;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #000000;
    font-size: 12px;
    text-align: center;
    /* word-wrap: normal; */
    /* word-wrap: break-word; */
    /* word-break: keep-all; */
    /* word-break: break-all; */

    /* white-space: pre-line; */
    /* white-space: nowrap; */
    /* white-space: pre; */
    /* white-space: pre-wrap; */
    /* white-space: break-spaces; */
    
    /* overflow: scroll; */
    /* overflow: visible; */

    /* text-overflow: clip; */
}

.tabcontent p.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 10; /* Menampilkan maksimal 3 baris */
    -webkit-box-orient: vertical;
}

.read {
    font-family: 'inter';
    font-size: 12px;
    color: white;
    background: var(--button-color);
    height: 26px;
    border-radius: 5px;
    flex-shrink: 0;
    border: none;
    padding: 10px;
    text-align: center;
    margin: 30px 20px 20px auto;
    /* auto pada margin-right akan menggeser ke kanan */
    display: flex;
    /* Menambahkan display: flex agar align-items bekerja */
    align-items: center;
    /* Memastikan align-items bekerja dengan baik */
}

#price {
    font-family: 'inter';
    color: var(--second-color);
    font-size: 20px;
    text-align: left;
    float: left;
    margin-top: -3.2rem;
    padding: 10px 15px;
}

.text-wrapper {
    max-height: 100px; /* Set a maximum height for the truncated text */
    overflow: hidden;
}

.tabcontent.expanded .text-wrapper {
    max-height: none; /* Remove the maximum height when expanded */
}

/* .tabcontent button:hover{
    background: var(--main-color);
    color: var(--bg-color);
    transition: 0.2 all linear;
} */

/* Feedback */
.feedback{  /* background hijau feedback */
    width: 1100px;
    height: 247px;
    border-radius: 20px;
    margin: auto;
    background: #AFBF67;
    padding: 20px;
    position: center;
    margin-top: 900px;
    margin-bottom: 100px;
}

.feedback-header { /*paragraf 'give us feedback...' + image kanan kiri */
    color: #FFF;
    text-align: center;
    font-family: 'Inter';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: -20px;
}

.feedback-header > p{ /*paragraf 'give us feedback...' */
    margin-left: 140px;
    margin-right: 150px;
    margin-top: -80px;
}

.feedback img{ /* img cust kanan kiri */
    width: 130px;
    height: 160px;
    margin-top: 20px;
}

.form{ 
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: -70px;
    margin-bottom: 23px;
}

.input-feedback{
    width: 656px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: -10px;
}


.input-feedback [type=text]{
    width: 500px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: content-box;
    border: none;
}

.input-feedback [type=submit]{
    margin-left: 5px;
    border-radius: 10px;
    width: 93px;
    height: 33px;
    font-size: 16px;
    flex-shrink: 0;
    font-weight: bold;
    border-style: none;
    background: #D0862D;
    color: var(--bg-color);
    font-family: 'Inter';
}

.input-feedback [type=submit]:hover{
    cursor: pointer;
    background: var(--second-color);
    color: var(--bg-color);
    transition: 0.2 all linear;
}

.star-rating{
    user-select: none;
    align-items: center;
    justify-content: center;
    display: flex;
}

.star{
    font-size: 37px;
    color: #FFF;
    align-items: center;
    background-color: unset;
    border:none;
}

.star:hover{
    cursor: pointer;
    color: #FFFFFF;
}

/* Content */
.grid {
    display: flex;
    gap: 7px;
    float: right;
    /* background-color: #000000; */
}

.column {
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.column-1 img {
    border-radius: 5px;
    float: right;
    justify-content: flex-start;
    margin-top: 10px;

}

.image-1 img {
    width: 224.457px;
    height: 267.818px;
    flex-shrink: 0;
    margin-top: 20px;
}

.image-2 img {
    width: 198.951px;
    height: 230.834px;
    flex-shrink: 0;
    margin-top: 15px;
}

.column-2 img {
    border-radius: 5px;
    float: right;
    justify-content: flex-start;
    margin-top: 30px;
}

.image-3 img {
    width: 227.008px;
    height: 279.934px;
    flex-shrink: 0;
    margin-top: 52px;
}

.image-4 img {
    width: 224.457px;
    height: 267.818px;
    flex-shrink: 0;
    margin-top: 18px;
}

/* FOOTER */
footer {
    position: fixed;
    bottom: 0;
}

.footer {
    background-color: var(--main-color);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    padding: 50px 50px 30px 50px;
    margin-top: 80px;
}

.footer .footer-left,
.footer .footer-center,
.footer .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Navbar bawah */
.line{
    background-color: #FFFFFF;
    height: 1px;
    width: 75rem;
    margin-top: 35px;
}

/* copyright */
#copyright {
    text-align: center;
    width: 100%;
    padding: 30px 0px 0px 0px;
    color: var(--bg-color);
}

@media (max-height:800px) {
    footer {
        position: static;
    }

    header {
        padding-top: 40px;
    }
}

.footer .footer-left {
    width: 30%;
}

.footer .footer-left img {
    width: 45%;
    vertical-align: middle;
}

.footer .footer-media {
    margin-top: 25px;
}

.footer .footer-media a {
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 50px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer .footer-media img {
    color: #FFFFFF;
    width: 30px;
    height: 30px;
    padding-bottom: 5px;
}

.footer .footer-media a:hover {
    background-color: var(--button-color);
    border-radius: 50%;
    cursor: pointer;
}

.footer .footer-left .credit-cards {
    width: 100%;
}

.footer .footer-center {
    width: 35%;
}

/* penambahan */
.footer-center .location,
.footer-center .phone,
.footer-center .mail {
    padding-bottom: 10px;
}

.footer .footer-center img {
    height: 45px;
    width: 45px;
    vertical-align: middle;
    padding-right: 3%;
}

.footer .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0px;
}

.footer .footer-center p span {
    color: var(--bg-color);
    display: block;
    /* font-weight: normal; */
    font-size: 14px;
    line-height: 2;
}

.footer .footer-center p a {
    color: var(--bg-color);
    text-decoration: none;
}

.footer .footer-right {
    width: 30%;
}

.footer .footer-about {
    line-height: 20px;
    color: var(--bg-color);
    font-size: 13px;
    font-weight: normal;
    margin: 0px;
}

.footer .footer-about span {
    display: block;
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}

@media (max-width: 880px) {
    
    .footer .footer-left,
    .footer .footer-center,
    .footer .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: left;
    }
}
